<h1>Devices</h1>
<table class='table table-striped' *ngIf="devices">
  <thead>
    <tr>
      <th>Device Type</th>
      <th>Serial Number</th>
      <th>Firmware Version</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of devices">
      <td>{{ device.type }}</td>
      <td>{{ device.serialNumber }}</td>
      <td>{{ device.firmwareVersion }}</td>
      <td>{{ device.state == 0 ? 'Inactive' : device.state == 1 ? 'Active' : device.state == 2 ? 'Repairing' : '' }}</td>
    </tr>
  </tbody>
</table>
